#contents {
    display: flex;
    margin: 0;
    height: max-content;
}

.left {
    background-color: #fa776d;
    text-align: center;
    width: 20%;
    height: 660px;
    margin: 0%;
    padding: 10px;
}

.home_left {
 margin: 20px;
}

.right {
    background-color: #f3dae4;
    width: 80%;
    height: 660px;
    margin: 0%;
    text-align: center;
    justify-content: center;
}

.home_right {
    margin: 50px;
}

.chat-results {
    padding: 30px 30px;
    margin:50px;
    height: max-content;
    background-color: #eeeeee;
}