{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'clearskin/css/index.css' %}">
    <title>Document</title>
</head>
<body> 
    <div id="contents">
        <div class="left">
            <p>Hello!</p>
            <p><a href="{% url 'home' %}">home</a></p>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            {% endif %}
       </div>
       <div class="right">
         <h3>What is your problem?</h3>
         <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Asking my question</button>
         </form>
         <div class="chat-results">
            {{ chat_results }} 
         </div>
        </div>    
    </div> 
</body>
</html>